<script>
  if (!'<%- login %>') {
    alert('请先登录!')
    location.href = '/login'
  }
</script>
<main class="container" style="margin-top: 6rem!important">
  <section class="mb-5">
    <div class="row" >
      <div class="col-2 px-0" style="height:200px; width: 200px;">
        <img src="/images/delf.jpeg" alt="" class="" style="width: 100%; height: 100%;">
        <button type="button" class="btn btn-sm btn-light mt-2" style="width: 45%; font-size: 15px;" data-toggle="modal" data-target="#info">修改信息</button>
        <button type="button" class="btn btn-sm btn-light mt-2 ml-2" data-toggle="modal" style="width: 45%; font-size: 15px;" data-target="#pwd">修改密码</button>
      </div>
      <div class="col-8 px-0 ml-3" style="height:200px;">
        <p>
          <span>ID:</span>
          <span> <%- user.id %> </span>
        </p>
        <p>
          <span>用户名:</span>
          <% if (login) {%>
          <span>  <%- user.username %> </span>
          <% }%>
        </p>
        <p>
          <span>班级:</span>
          <span id="classnamelist"></span>
        </p>
        <p>
          <span>发布的项目:</span>
          <span>无</span>
        </p>
        <p>
          <span>体验的项目:</span>
          <span>无</span>
        </p>
      </div>
    </div>
  </section>

  <section>
    <!-- 模态框 -->
    <div class="modal fade" id="pwd">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form action="">
              <ul style="list-style: none; padding: 0;">
                <li class="my-2">
                  <span>旧密码：</span>
                  <input type="text" class="w-100 form-control">
                </li>
                <li class="text-right">
                  <span style="cursor: pointer; color: #00a">忘记密码？</span>
                </li>
                <li class="my-2">
                  <span>新密码：</span>
                  <input type="text" class="w-100 form-control">
                </li>
                <li class="my-2">
                  <span>确认密码：</span>
                  <input type="text" class="w-100 form-control">
                </li>
              </ul>
              <input type="submit" value="提交" class="w-100 border btn btn-light">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="info">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <form action="">
              <ul style="list-style: none;">
                <li class="my-3">
                  <span class="mr-2 text-right" style=" display: inline-block; width: 50px;">ID:</span>
                  <span>123456</span>
                </li>
                <li class="my-3">
                  <span class="mr-2 text-right" style=" display: inline-block; width: 60px;">用户名:</span>
                  <input class="w-75" type="text">
                </li>
                <li class="my-3">
                  <span class="mr-2 text-right" style=" display: inline-block; width: 50px;">头像:</span>
                  <div style="display: inline-block;">
                    <img src="/images/delf.jpeg" alt="" class="mb-2" style="width: 100px; height: 100px;">
                  </div>
                </li>
                <li class="my-3">
                  <span class="mr-2 text-right" style=" display: inline-block; width: 50px;">性别:</span>
                  <div style="display: inline-block;">
                    <div class="radio" style="display: inline-block;">
                      <label><input type="radio" name="sex" checked>男</label>
                    </div>
                    <div class="radio ml-2" style="display: inline-block;">
                      <label><input type="radio" name="sex">女</label>
                    </div>
                  </div>
                </li>
                <li class="my-3">
                  <span class="mr-2 text-right" style=" display: inline-block; width: 50px;">QQ:</span>
                  <input class="w-75" type="text">
                </li>
              </ul>
              <input type="submit" value="确定" class="w-100 border btn btn-light">
            </form>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="mb-3">
    <h2 class="text-info" style="margin-top: 5rem; ">班级</h2>
    <div style="margin-top:1rem" class="search">
        <div class="input-group mb-3" >
            <input type="text" class="form-control" placeholder="在此搜索你想加入的班级">
            <div class="input-group-append">
              <button class="btn btn-success" id="sub" data-toggle="modal" data-target="#souyisou">搜一搜</button>
              <div class="modal fade " id="souyisou">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                 
                      <!-- 模态框头部 -->
                      <div class="modal-header">
                        <h4 class="modal-title">搜索结果</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                 
                      <!-- 模态框主体 -->
                      <div class="modal-body">
                        
                      </div>
                 
                      <!-- 模态框底部 -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                      </div>
                 
                    </div>
                  </div>
                </div>

            </div>
          </div>
          
    </div>
    
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Cr-cla">创建班级</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#My-cla">已加入的班级</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#Join-cla" data-toggle="tab">加入班级</a>
      </li> -->
    </ul>
    <div id="myTabContent" class="tab-content" style="margin-bottom: 20px;">
      <div class="tab-pane active" id="Cr-cla">
        <table class="table cclass">
          <thead>
            <tr>
              <th class="text-center">班级名称</th>
              <th class="text-center">班级ID</th>
              <th class="text-center">人数</th>
              <th class="text-center">创建时间</th>
              <th class="text-center create" style="cursor: pointer; color: rgb(124,124,209)">
                <span data-toggle="modal" data-target="#createClass">创建</span>
                <div class="modal fade" id="createClass">
                    <div class="modal-dialog">
                      <div class="modal-content">
                   
                        <!-- 模态框头部 -->
                        <div class="modal-header">
                          <h4 class="modal-title">创建班级</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                   
                        <!-- 模态框主体 -->
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">班级名称</span>
                                </div>
                                <input type="text" class="form-control" placeholder="班级名称">
                            </div>
                        </div>
                   
                        <!-- 模态框底部 -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">提交</button>
                        </div>
                   
                      </div>
                    </div>
                  </div>
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="tab-pane fade" id="My-cla">
        <table class="table my-cla">
          <thead>
            <tr>
              <th class="text-center">班级名称</th>
              <th class="text-center">班级ID</th>
              <th class="text-center">创建时间</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          
          
        </table>
      </div>

      <div class="tab-pane fade" id="Join-cla">
        <!-- <table class="table">
          <thead>
            <tr>
              <th class="text-center">班级名称</th>
              <th class="text-center">班级ID</th>
              <th class="text-center">人数</th>
              <th class="text-center">创建时间</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody >
            <tr class="text-center" id="serbt">
              <td>班级名称</td>
              <td>班级ID</td>
              <td>人数</td>
              <td>创建时间</td>
              <td style="cursor: pointer;  color: rgb(124, 124, 209);">加入</td>
            </tr>
          </tbody> -->
        </table>
      </div>
    </div>
  </section>


  <!-- 正在进行的项目和已经完成的项目部分 -->
  <section>

    <h2 class="text-info" style="color: rgb(78, 178, 214);">项目</h2>
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#pro-now" data-toggle="tab">正在进行的项目</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pro-finish" data-toggle="tab">已完成的项目</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content" class="container" style="margin-bottom: 20px;">

      <div class="tab-pane active" id="pro-now">
        <table class="table">
          <thead class="text-center">
            <tr class="text-center">
              <th class="text-center">项目名称</th>
              <th class="text-center">开始时间</th>
              <th class="text-center">完成度</th>
              <th class="text-center">与我同行的人</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>项目体验平台</td>
              <td>2019.3.31</td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:50%">50%
                  </div>
                </div>
              </td>
              <td style="cursor: pointer; color: rgb(124, 124, 209);">查看</td>
              <td style="cursor: pointer; color: rgb(124, 124, 209);">继续进行</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td>暂无进行项目</td>
              <td>无</td>
              <td>无</td>
              <td>无</td>
              <td>无</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="tab-pane fade" id="pro-finish">
        <table class="table">
          <thead>
            <tr class="text-center">
              <th class="text-center">项目名称</th>
              <th class="text-center">开始时间</th>
              <th class="text-center">完成时间</th>
              <th class="text-center">已完成该项目的人数</th>
              <th class="text-center">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>项目体验平台</td>
              <td>2019.2.1</td>
              <td>2019.6.1</td>
              <td><a href="">1520人</a></td>
              <td style="cursor: pointer; color: rgb(124, 124, 209);">删除记录</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td>暂无已经完成的项目</td>
              <td>无</td>
              <td>无</td>
              <td>无</td>
              <td>无</td>
            </tr>
          </tbody>
        </table>
      </div>
  </section>
</main>

<!-- 选项卡 -->
<script>
  toastr.options.positionClass = 'toast-center-center';
  let id = '<%- user.id %>'
  //创建班级
  $(()=>{
    $('.create .modal-footer button').on('click',()=>{
      let classname = $('.create .modal-body input')[0].value
      $('.create .modal-body input')[0].value = ''
      
      let data = {
        classname: classname,
        creater: id,
        members: id
      }
      $.ajax({
      url:'/class/create',
      method: 'post',
      data: data,
      success: (msg)=>{
        toastr.success("创建成功!");
        setTimeout(function () {
              window.location.reload()
        }, 1500)
      }
    })
  })

});

  //获取创建班级列表
  $(()=>{
   
    $.ajax({
      url:'/class',
      method: 'get',
      success: ( res ) => {
        let classes = []
        let str = ''
        $.each( res, ( index, val ) => {
          if( id == val.creater.id ) 
            classes.push( val )
        })
        if( !classes.length  ){
          str = `<tbody class="nocreate"><tr class="text-center"><td>暂无创建班级</td><td>无</td><td>无</td><td>无</td></tr></tbody>`
        }else{
          $.each( classes, ( i , v) => {
            let reg = /[^T]+/
            let time = reg.exec(v.createdAt)
            str +=`
            <tbody>
            <tr class="text-center">
              <td>${v.classname}</td>
              <td>${v.id}</td>
              <td>${v.members.length}</td>
              <td>${time}</td>
              <td style="cursor: pointer; color: rgb(124,124,209)" >删除</td>
            </tr>
          </tbody>`
          })
        }
        $('.cclass').append( () => {
            return str
        })
        let td = $('.cclass td')
        $.each(td,(i,v)=>{
          if( i % 5 == 4){
            $('.cclass td').eq(i).on('click',( )=>{
              let classid = $('.cclass td')[i-3].innerHTML
              $.ajax({
                url:`/class/${classid}`,
                method: 'delete',
                success(res){
                  toastr.success("删除成功!")
                  
                  setTimeout(function () {
                  window.location.reload()
                  }, 1500)
                }
              })
            })
          }
        })
      }
    })


  });

  //获取已加入班级列表
  $(()=>{
    $.ajax({
      url:`/user/${id}`,
      method: 'get',
      success: ( res ) => {
        let str = ''
        let classNameList = []
        if( !res.class.length  ){
          str = 
          `<tbody class="nocreate">
            <tr class="text-center">
              <td>暂无加入班级</td>
              <td>无</td>
              <td>无</td></tr></tbody>`
        }else{
          $.each( res.class, ( i , v) => {
            let reg = /[^T]+/
            let time = reg.exec(v.createdAt)
            classNameList.push(v.classname)
            str +=`
            <tbody>
            <tr class="text-center" id='classed'>
              <td>${v.classname}</td>
              <td>${v.id}</td>
              <td>${time}</td>
              <td style="cursor: pointer; color: rgb(124,124,209)">退出</td>
            </tr>
          </tbody>`
          })
        }
        $('.my-cla').append( () => {
            return str
        })
        $.each( classNameList, ( i, v) => {
          $('#classnamelist')[0].innerHTML += `${v} `
        })
        let td = $('#classed td')
        $.each(td ,(i,v)=>{
          if( i % 4 == 3){
            $('#classed td').eq(i).on('click',()=>{
              let classid = $('#classed td')[i-2].innerHTML
              console.log( classid )
              $.ajax({
                url:`/class/put/${classid}`,
                method: 'put',
                data:{
                  userid: id
                },
                success(res){
                  toastr.success("退出成功!")
                  setTimeout(function () {
                  window.location.reload()
                  }, 1500)
                }
              })
            })
          }
        })
      }
    })  
  });

  //查找班级
  $(()=>{
    $('.search #sub').on('click',()=>{
      $('.search #souyisou .modal-body').empty()
      let classname = $('.search input')[0].value
      let classList =''
      let str = ''
      let flag = false
      $.ajax({
        url:'/class',
        method:'get',
        success: ( res ) => {
          $.each( res, ( i, v) => {
          if( v.classname == classname ){
            classList = v
          }})
          if( classList ){
            str = `<table class="table">
            <thead>
              <tr>
                <th class="text-center">班级名称</th>
                <th class="text-center">班级ID</th>
                <th class="text-center">人数</th>
                <th class="text-center">创建时间</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center " id="serbt">
                <td>${classList.classname}</td>
                <td>${classList.id}</td>
                <td>${classList.members.length}</td>
                <td>${/[^T]+/.exec(classList.createdAt)}</td>
                <td style="cursor: pointer;  color: rgb(124, 124, 209);">加入</td>
              </tr>
            </tbody>
          </table>`
          $('.search #souyisou .modal-body').append( () => {
              return str
          })
          $('#serbt td').eq(4).on('click',( i,v ) => {
            let cid = $('#serbt td')[1].innerText
            
          

            $.ajax({
                url:`/class/add/${cid}`,
                method:'put',
                data: {
                  userid: id
                },
                success(msg){
                  toastr.success("加入成功!");
                  setTimeout(function () {
                        window.location.reload()
                  }, 1500)
                }
              })
          })
          }else{
            str = `未找到指定班级,请重新输入查找。`
            $('.search #souyisou .modal-body').append( () => {
              return str
            })
          }
        }
      })
    })
  })


  // $(()=>{
  //   let id = '<%- user.id %>'

  //   let data = {
  //     classname: "软工171",
  //     creater: id,
  //   }

    
      
    // })
    // $.ajax({
    //   url:'/class/5cf517925ab48e3964941326',
    //   method:'put',
    //   data: {
    //     members: id
    //   },
    //   success(msg){
    //     console.log(msg)
    //   }
    // })

  // });

</script>
